# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Models
*.pth
*.pt

# MLflow
mlruns/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Outputs
outputs/